[user]
	name = Zach Riggle
	email = riggle@google.com
[alias]
	lg     = log --graph --pretty=format:'%Cred%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr)%Creset - %aN' --abbrev-commit --date=relative
	lga    = log --all --graph --pretty=format:'%Cred%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr)%Creset - %aN' --abbrev-commit --date=relative
	simple = log --all --graph --pretty=format:'%Cred%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr)%Creset - %aN' --abbrev-commit --date=relative --simplify-by-decoration
	diff = diff --color
	co = checkout
	ct = checkout -t
	ci = commit -v
	ca = commit -av
	st = status -sb
	up = pull
	track = !git-track
	prune-all = !git-prune-all
	ack = grep -E --break --heading --line-number --show-function
	ag = grep -E --break --heading --line-number --show-function
	wtf = wtf
[branch]
	autosetupmerge = true
[push]
	default = current
[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = red
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = yellow
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
	renamed = pink
[color "grep"]
	match = green
	filename = blue
	function = yellow bold
[core]
	autocrlf = false
	eof = lf
	whitespace = blank-at-eol,space-before-tab,blank-at-eof,cr-at-eol
	excludesfile = ~/.gitignore_global
[diff]
	tool = vimdiff
[filter "mixedtext"]
    clean = iconv -sc -f $(file -b --mime-encoding %f) -t utf-8
    smudge = iconv -sc -f utf-8 -t $(file -b --mime-encoding %f)
    required = true
[git-up "fetch"]
	all = true
	prune = true
[url "persistent-https://android.git.corp.google.com"]
        insteadof = https://android.googlesource.com
[url "persistent-https://android-review.git.corp.google.com"]
        insteadof = https://android-review.googlesource.com
[url "persistent-https://googleplex-android.git.corp.google.com"]
        insteadof = https://googleplex-android.googlesource.com
[url "persistent-https://googleplex-android-review.git.corp.google.com"]
        insteadof = https://googleplex-android-review.googlesource.com
[url "persistent-https://partner-android.git.corp.google.com"]
        insteadof = https://partner-android.googlesource.com
[url "persistent-https://partner-android-review.git.corp.google.com"]
        insteadof = https://partner-android-review.googlesource.com
[imap]
	port = 993
	usessl = true
	sslverify = true
	folder = [Gmail]/Drafts
	user = riggle@google.com
	host = imaps://imap.gmail.com
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckobjects = true
[http]
	cookiefile = ~/.gitcookies
[credential]
	helper = corpsso
[grep]
	extendRegexp = true
	lineNumber = true
