[submodule ".bash_it"]
	path = .bash_it
	url = git://github.com/zachriggle/bash-it.git
[submodule ".zprezto"]
	path = .zprezto
	url = git://github.com/zachriggle/prezto.git
[submodule ".pyenv"]
	path = .pyenv
	url = git://github.com/yyuu/pyenv.git
[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule "private"]
	path = private
	url = git@github.com:zachriggle/private.git
